.map {
  height: 300px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/* TITULOS */
.title {
  background: linear-gradient(90deg, #105abc44 0%, #ccd7e246 100%);
  text-align: center;
  padding: 10px;
  color: #7a8189;
}

.title-routeStart { 
  background-image: url("../img/fondoRutaEntrada.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;
  color: #5f5f5f;
  text-shadow: #323232;
}

.title-routeReturn { 
  background-image: url("../img/fondoRutaSalida.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;
  color: #d3d3d3;
  text-shadow: #323232;
}

.title-white {
  background: linear-gradient(90deg, #033f8e5b 0%, #ffffff46 100%);
  text-align: center;
  padding: 10px;
  color: #7a8189;
}

.title-white-reverse {
  background: linear-gradient(90deg, #ffffff44 0%, #033f8e5b 100%);
  text-align: center;
  padding: 10px;
  color: #7a8189;
}

.route-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto; 
  flex-wrap: wrap;
}

.car-full {
  display: flex;
  justify-content: left;
  width: 50%;
  flex-wrap: wrap;
  padding-top: 1.3%;
}
/* switch de no molestar */
.switch2 {
  padding-left: 3%;
  padding-top: 2.2%;
 --button-width: 3.5em;
 --button-height: 2em;
 --toggle-diameter: 1.5em;
 --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
 --toggle-shadow-offset: 10px;
 --toggle-wider: 3em;
 --color-grey: #cccccc;
 --color-green: #1ae017;
}

.slider {
 display: inline-block;
 width: var(--button-width);
 height: var(--button-height);
 background-color: var(--color-grey);
 border-radius: calc(var(--button-height) / 2);
 position: relative;
 transition: 0.3s all ease-in-out;
}

.slider::after {
 content: "";
 display: inline-block;
 width: var(--toggle-diameter);
 height: var(--toggle-diameter);
 background-color: #fff;
 border-radius: calc(var(--toggle-diameter) / 2);
 position: absolute;
 top: var(--button-toggle-offset);
 transform: translateX(var(--button-toggle-offset));
 box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 transition: 0.3s all ease-in-out;
}

.switch2 input[type="checkbox"]:checked + .slider {
 background-color: var(--color-green);
}

.switch2 input[type="checkbox"]:checked + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
 box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch2 input[type="checkbox"] {
 display: none;
}

.switch2 input[type="checkbox"]:active + .slider::after {
 width: var(--toggle-wider);
}

.switch2 input[type="checkbox"]:checked:active + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* SWITCH DE ACTIVAR */
.checkbox-hidden {
  display: none;
}

.switch {
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  background-color: rgb(46, 46, 46);
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  transition: all 0.3s;
}
.switch svg path {
  fill: white;
}
.checkbox-hidden:checked + .switch {
  background-color: rgb(86, 195, 56);
  box-shadow: 0px 0px 40px rgb(106, 255, 0);
}

.active-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* BOTON PARA VER MAS (VER COMENTARIOS) */
.button-comentarios {
  all: unset;
  display: inline-block;
  position: relative;
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 110px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #7099f0;
  --tooltip-color: #dddddd;

  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial", sans-serif;
  transition: background 0.3s;
  cursor: pointer;
}

.button-comentarios::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button-comentarios::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button-comentarios::before,
.button-comentarios::after {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.button-comentarios-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
}

.text-comentarios ,
.icon-comentarios  {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s;
  color: #fff;
}

.text-comentarios {
  top: 0;
}

.icon-comentarios {
  top: 100%;
}

.icon-comentarios  svg {
  width: 24px;
  height: 24px;
}

.button-comentarios:hover {
  background: #7099f0;
}

.button-comentarios:hover .text-comentarios  {
  top: -100%;
}

.button-comentarios:hover .icon-comentarios  {
  top: 0;
}

.button-comentarios:hover::before,
.button-comentarios:hover::after {
  opacity: 1;
  visibility: visible;
}

.button-comentarios:hover::after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-comentarios:hover::before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* FEED BACK */
.feedback-wrapper {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  background-color: #fafafa;
}

.image-feedback {
  position: relative;
  width: 400px;
  max-width: 90vw;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

.image-feedback::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.45) 100%
  );
}

.image-feedback img {
  display: block;
  width: 100%;
  height: auto;
}

.feedback-message {
  font-size: clamp(1rem, 1.5vw + .5rem, 2.0rem);
  font-weight: 600;
  text-align: center;
  color: #2b2b2b;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  width: 300px;
  padding-left: 5%;
}

/* BOTON VERTICAL */
.cssbuttons-io-button-vertical {
  background: #7099f0;
  color: white;
  font-family: inherit;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #6ba64d;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  transform: rotate(90deg);
}

.cssbuttons-io-button-vertical .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #cde4f5;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button-vertical:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button-vertical .icon svg {
  width: 1.3em;
  height: 1.3em;
  transition: transform 0.3s;
  color: #346fee;
}

.cssbuttons-io-button-vertical:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button-vertical:active .icon {
  transform: scale(0.95);
}

/* CONTENEDOR DE SOLICITUDES */
.request-container {
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.request {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request2 {
  position: relative;
  height: auto;
  width: auto;
  bottom: 185px;
  left: 90%;
}

/* MIS VIAJES PENDIENTES */
.rides-days {
  text-align: center;
  text-transform: capitalize;
}