.map {
  height: 300px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/* TITULOS */
.title {
  background: linear-gradient(90deg, #105abc44 0%, #ccd7e246 100%);
  text-align: center;
  padding: 10px;
  color: #7a8189;
}

.title-routeStart { 
  background-image: url("../img/fondoRutaEntrada.png");
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  text-align: center;
  padding: 10px;
  color: #5f5f5f;
  text-shadow: #323232;
}

.title-routeReturn { 
  background-image: url("../img/fondoRutaSalida.png");
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  text-align: center;
  padding: 10px;
  color: #d3d3d3;
  text-shadow: #323232;
}

.route-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto; 
  flex-wrap: wrap;
}

.car-full {
  display: flex;
  justify-content: left;
  width: 50%;
  flex-wrap: wrap;
  padding-top: 1.3%;
}
/* switch de no molestar */
.switch2 {
  padding-left: 3%;
  padding-top: 2.2%;
 --button-width: 3.5em;
 --button-height: 2em;
 --toggle-diameter: 1.5em;
 --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
 --toggle-shadow-offset: 10px;
 --toggle-wider: 3em;
 --color-grey: #cccccc;
 --color-green: #1ae017;
}

.slider {
 display: inline-block;
 width: var(--button-width);
 height: var(--button-height);
 background-color: var(--color-grey);
 border-radius: calc(var(--button-height) / 2);
 position: relative;
 transition: 0.3s all ease-in-out;
}

.slider::after {
 content: "";
 display: inline-block;
 width: var(--toggle-diameter);
 height: var(--toggle-diameter);
 background-color: #fff;
 border-radius: calc(var(--toggle-diameter) / 2);
 position: absolute;
 top: var(--button-toggle-offset);
 transform: translateX(var(--button-toggle-offset));
 box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 transition: 0.3s all ease-in-out;
}

.switch2 input[type="checkbox"]:checked + .slider {
 background-color: var(--color-green);
}

.switch2 input[type="checkbox"]:checked + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
 box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch2 input[type="checkbox"] {
 display: none;
}

.switch2 input[type="checkbox"]:active + .slider::after {
 width: var(--toggle-wider);
}

.switch2 input[type="checkbox"]:checked:active + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* SWITCH DE ACTIVAR */
.checkbox-hidden {
  display: none;
}

.switch {
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  background-color: rgb(46, 46, 46);
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  transition: all 0.3s;
}
.switch svg path {
  fill: white;
}
.checkbox-hidden:checked + .switch {
  background-color: rgb(86, 195, 56);
  box-shadow: 0px 0px 40px rgb(106, 255, 0);
}

.active-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* BOTON PARA VER MAS (VER COMENTARIOS) */
.button-comentarios {
  all: unset;
  display: inline-block;
  position: relative;
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 110px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #dddddd;

  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial", sans-serif;
  transition: background 0.3s;
  cursor: pointer;
}

.button-comentarios::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button-comentarios::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button-comentarios::before,
.button-comentarios::after {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.button-comentarios-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
}

.text-comentarios ,
.icon-comentarios  {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s;
  color: #fff;
}

.text-comentarios {
  top: 0;
}

.icon-comentarios {
  top: 100%;
}

.icon-comentarios  svg {
  width: 24px;
  height: 24px;
}

.button-comentarios:hover {
  background: #202df1;
}

.button-comentarios:hover .text-comentarios  {
  top: -100%;
}

.button-comentarios:hover .icon-comentarios  {
  top: 0;
}

.button-comentarios:hover::before,
.button-comentarios:hover::after {
  opacity: 1;
  visibility: visible;
}

.button-comentarios:hover::after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-comentarios:hover::before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
