.header {
  background: linear-gradient(90deg, #002f6c 0%, #0568da 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 40px;
}

.inicio {
  font-size: 1rem;
}

.header-right {
  font-size: 1rem;
  pointer-events: none;
  user-select: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  zoom: 90%;
}

.header-center {
  position:absolute;
  left: 50%;
  height: -10px;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: 900;
  color: white; 
  pointer-events: none;
  user-select: none;
}

/* NAVBAR */
nav {
  width: 100%;
  margin: 20px auto 0;
  background-color: #2c2c2c;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.nav-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-section:hover {
  background-color: #3d4a54;
}

.nav-bar {
  background: transparent;
  color: #fff;
  border: none;
  padding: 10px 40%;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease;
}

.nav-section:hover .nav-bar {
  transform: scale(1.05);
}

.nav-section.active {
  background-color: #365773;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
}

