.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    box-shadow: rgb(0 0 0 / 8%) 0 2px 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    width: auto;
    max-height: auto;
    max-width: 100%;
}

.contenedor-form-register {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
    
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
    width: 70%;
}
    
/* TEXTO DEL FORM */
.title {
    font-weight: bold;
    font-size: 1.6rem;
}
    
.subtitle {
    font-size: 1rem;
    color: #666;
}
    
/* INPUTS */
.user {
    color: #757575;
    padding-left: 15px;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #e7e7e7;
    margin: 1rem 0 .5rem;
    width: auto;
    justify-content: center;
}
    
.field {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px;
}
    
.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}
    
.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}
    
.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}
    
/* BOTON DE REGISTRAR*/
.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}
    
.form button:hover {
    background-color: #005ce6;
}